/* MARINETE =================== */
body {
  max-width: 1120px;
  margin: 0 auto;
}
#container {
  display: flex;
  align-items: flex-start;
}
.texto-card hr {
  width: 720px;
  margin: 10px auto;
}
.madrinha {
  font-size: 4em;
  margin: 20px 0 20px 20px;
  font-family: Pacifico;
}
#imagens h1 {
  font-size: 4em;
  margin: 20px 0 20px 0px;
  font-family: Pacifico;
}
.info ul li:first-child {
  font-size: 1.5em;
}

#imagens img {
  margin: 20px 10px;
}
@media (max-width: 1113px) {
  #container {
    flex-wrap: wrap;
  }
  .texto-card hr {
    width: 390px;
  }
}
